body {
    background-image: url("images/coco.jpeg");
    background-position: center;
    background-size: contain;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1.8rem;
    background-color: rgb(140, 203, 254);
    border-radius: 18px;
    border: 4px solid;
    color: rgb(241, 248, 208);
}

p {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1.8rem;
    background-color: rgb(140, 203, 254);
    border-radius: 18px;
    border: 4px solid;
    color: rgb(241, 248, 208);

}

h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1.8rem;
    background-color: rgb(140, 203, 254);
    border-radius: 18px;
    border: 4px solid;
    color: rgb(241, 248, 208);
}

.tarjeta {
    text-align: center;
    margin-bottom: 22px;

}

.tarjeta h2 {
    font-size: 2.6rem;
    color: rgb(241, 248, 208);
    text-shadow: 0;
}


.tarjeta:hover {
    transform: scale(1.08);
    background-color: rgb(229, 208, 250);
    box-shadow: 0px 18px 30px rgb(97, 155, 255);
}

.bottonn{
    background-color: rgb(180, 108, 247);
    color: rgb(100, 136, 255);
    transform: scale(1.07);
    box-shadow: 5px 5px;
    transform: scale(1.06);

}
.bottonn:hover {
    animation: translateY 2s;
}

.botones {
    background-color: rgb(195, 147, 240);
    width: fit-content;
    margin-top: 1rem;
    padding: 15px 30px;
    font-weight: bold;
    align-items: center;

}
.container{
    display: flex;
    flex-direction: column;align-items: center;
}

.botones:hover {
    background-color: rgb(180, 108, 247);
    color: rgb(100, 136, 255);
    transform: scale(1.07);
    box-shadow: 5px 5px;
    transform: scale(1.06);
}

.iconoo {
    display: inline-block;
    animation: spinner
}

.botones:hover .iconoo {
    animation: spinner 1s linear infinite;
}
.panel-animaciones{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1.8rem;
    background-color: rgb(140, 203, 254);
    border-radius: 18px;
    border: 4px solid;
    color: rgb(241, 248, 208);
}
@keyframes spinner {
    from {
        transform: rotate(0, 6s);
    }

    to {
        transform: rotate(360deg);
    }
}

.botoncito {
    background-color: rgb(180, 108, 247);
    color: rgb(100, 136, 255);
    transform: scale(1.07);
    box-shadow: 5px 5px;
    transform: scale(1.06);
}

.botoncito:hover {
    animation: translatex 1s linear infinite;
}

.iconico {
    display: inline-block;
    animation: spinner
}


@keyframes translatex {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(50px);
    }
}
@keyframes translateY{
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}